/*.loader div {
    width: 20px;
    height: 20px;
    position: absolute;
    
    left: -20px;
    top: 70px;
    background-color: #333;
    border-radius: 50%;
    animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
  }
.loader div:nth-child(2) {
    animation-delay: 150ms;
  }
.loader div:nth-child(3) {
    animation-delay: 300ms;
  }
.loader div:nth-child(4) {
    animation-delay: 450ms;
  }
  @keyframes move {
    0% {left: 0%;}
    75% {left:100%;}
    100% {left:100%;}
  }
*/
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    top: 0;
    overflow: hidden;
    z-index: 101;
}

/*.loader {
    position:absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

svg{
    display: none;
}
.cssload-dots {
	width: 0;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 1px solid red;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
        z-index: 101;
}

.cssload-dot {
	width: 0;
	height: 0;
	position: fixed;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 34px;
	height: 34px;
	border-radius: 49px;
	background: rgb(251,211,1);
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -17.5px;
	margin-top: -17.5px;
}

.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 44.5px;
	height: 44.5px;
	margin-left: -21.75px;
	margin-top: -21.75px;
	animation: cssload-dot-colors 4.6s ease infinite;
		-o-animation: cssload-dot-colors 4.6s ease infinite;
		-ms-animation: cssload-dot-colors 4.6s ease infinite;
		-webkit-animation: cssload-dot-colors 4.6s ease infinite;
		-moz-animation: cssload-dot-colors 4.6s ease infinite;
}

.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 4.6s 0s ease infinite;
		-o-animation: cssload-dot-move 4.6s 0s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 0s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		transform: translateY(0);
	}
	18%, 22% {
		transform: translateY(-68px);
	}
	40%, 100% {
		transform: translateY(0);
	}
}

@-o-keyframes cssload-dot-move {
	0% {
		-o-transform: translateY(0);
	}
	18%, 22% {
		-o-transform: translateY(-68px);
	}
	40%, 100% {
		-o-transform: translateY(0);
	}
}

@-ms-keyframes cssload-dot-move {
	0% {
		-ms-transform: translateY(0);
	}
	18%, 22% {
		-ms-transform: translateY(-68px);
	}
	40%, 100% {
		-ms-transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-68px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes cssload-dot-move {
	0% {
		-moz-transform: translateY(0);
	}
	18%, 22% {
		-moz-transform: translateY(-68px);
	}
	40%, 100% {
		-moz-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-o-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-ms-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-moz-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-keyframes cssload-dot-rotate-1 {
	0% {
		-o-transform: rotate(-105deg);
	}
	100% {
		-o-transform: rotate(270deg);
	}
}

@-ms-keyframes cssload-dot-rotate-1 {
	0% {
		-ms-transform: rotate(-105deg);
	}
	100% {
		-ms-transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-moz-keyframes cssload-dot-rotate-1 {
	0% {
		-moz-transform: rotate(-105deg);
	}
	100% {
		-moz-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		transform: rotate(165deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

@-o-keyframes cssload-dot-rotate-2 {
	0% {
		-o-transform: rotate(165deg);
	}
	100% {
		-o-transform: rotate(540deg);
	}
}

@-ms-keyframes cssload-dot-rotate-2 {
	0% {
		-ms-transform: rotate(165deg);
	}
	100% {
		-ms-transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@-moz-keyframes cssload-dot-rotate-2 {
	0% {
		-moz-transform: rotate(165deg);
	}
	100% {
		-moz-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		transform: rotate(435deg);
	}
	100% {
		transform: rotate(810deg);
	}
}

@-o-keyframes cssload-dot-rotate-3 {
	0% {
		-o-transform: rotate(435deg);
	}
	100% {
		-o-transform: rotate(810deg);
	}
}

@-ms-keyframes cssload-dot-rotate-3 {
	0% {
		-ms-transform: rotate(435deg);
	}
	100% {
		-ms-transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@-moz-keyframes cssload-dot-rotate-3 {
	0% {
		-moz-transform: rotate(435deg);
	}
	100% {
		-moz-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		transform: rotate(705deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes cssload-dot-rotate-4 {
	0% {
		-o-transform: rotate(705deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes cssload-dot-rotate-4 {
	0% {
		-ms-transform: rotate(705deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes cssload-dot-rotate-4 {
	0% {
		-moz-transform: rotate(705deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}

body{
    font-family: Arial, sans-serif;
    /*margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;*/

}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    z-index: 100;
    opacity: 93%;
    position: fixed;
}
.logo{
    color: #ffffff;
    font-size: 28px;
    line-height: 61px;
    padding-left: 388px;
    float: left;
    
    animation: coming 3s ease;
    -o-animation: coming 3s ease;
    -moz-animation: coming 3s ease;
    -webkit-animation: coming 3s ease;
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    animation: topshift 0.2s ease forwards;
    -o-animation: topshift 0.2s ease forwards;
    -moz-animation: topshift 0.2s ease forwards;
    -webkit-animation: topshift 0.2s ease forwards;
    opacity: 0;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    display: inline-block;
    transform: scale(1);
    
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e88d16;
    transform: rotate(-4deg) scale(1.025);;
}
.menu li a:active{
    transform: scale(1.07);
    transition: all 0.2s;
}

@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.menu li:nth-child(3){
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.menu li:nth-child(4){
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}
.menu li:nth-child(5){
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
.menu li:nth-child(6){
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

main{
    width: 100%;
    height: 100%;
    
}
.main{
    width: 100%;
    height: 100%;
    background:url(../img/Парень.png) 90% 100%/auto 85% no-repeat, url(../img/фон.jpg) center/cover no-repeat;
    
}
.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    text-align: center;
    animation: leftshift 1s ease forwards;
    -o-animation: leftshift 1s ease forwards;
    -moz-animation: leftshift 1s ease forwards;
    -webkit-animation: leftshift 1s ease forwards;
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    opacity: 0;
    
}
.title__container h1{
    font-size: 65px;
    font-weight: bold;
    color: #2c384a;
}
.title__container h4{
    margin-top: 30px;
    font-size: 18px;
    color: #79818d;
}
.title__container input{
    margin: 55px 14px 0px 14px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    transform: scale(1);
}
.title__container input:hover{
    transition: all 0.2s;
    background-color: #344051;
    color: white;
    transform: scale(1.025);
}
.title__container input:active{
    transform: scale(1.07);
    transition: all 0.1s;
}

@keyframes leftshift{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
}

.about_me h3{
    
    margin-top: 109px;
    font-size: 28px;
    font-weight: bold;
    color: #263244;
    text-align: center;
    animation: smooth__appearance 1.2s ease forwards;
    -o-animation: smooth__appearance 1.2s ease forwards;
    -moz-animation: smooth__appearance 1.2s ease forwards;
    -webkit-animation: smooth__appearance 1.2s ease forwards;
    animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    opacity: 0;
}
.img1{
    height: 32px;
    width: 100%;
    margin-top: 26px;
    background: url(../img/Черта\ заголовка.png) 50.1% /*175*/0px /78px 4px no-repeat;
    animation: appearance__X 1s ease forwards;
    -o-animation: appearance__X 1s ease forwards;
    -moz-animation: appearance__X 1s ease forwards;
    -webkit-animation: appearance__X 1s ease forwards;
    animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    opacity: 0;
}
.img2{
    height: 228px;
    width: 100%;
    margin-top: 26px;
    background: url(../img/фотка.png) 50% /*235*/ 0px /auto no-repeat;
    /*animation: appearance__img2 1s ease forwards;
    -o-animation: appearance__img2 1s ease forwards;
    -moz-animation: appearance__img2 1s ease forwards;
    -webkit-animation: appearance__img2 1s ease forwards;
    animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s;
    opacity: 0;*/
}

#p1{
    margin-top: 7px;
}
#p2{
    margin-top: 40px;
}
.about_me p{
    color: #3f495a;
    font-size: 16px;
    float: left;
    padding: 0px 30%;
    /*animation: smooth__appearance 1.5s ease forwards;
    -o-animation: smooth__appearance 1.5s ease forwards;
    -moz-animation: smooth__appearance 1.5s ease forwards;
    -webkit-animation: smooth__appearance 1.5s ease forwards;
    animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    opacity: 0;*/
}
.about_me input{
    margin: 39px 46% 120px;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 7px;
    font-size: 14px;
    color: #7b7c88;
    padding: 8px 12px 8px 34px;
    background: url(../img/иконка.png) 8% 50% white no-repeat;
    transform: scale(1);
    animation: smooth__appearance 1.5s ease forwards;
    -o-animation: smooth__appearance 1.5s ease forwards;
    -moz-animation: smooth__appearance 1.5s ease forwards;
    -webkit-animation: smooth__appearance 1.5s ease forwards;
    animation-delay: 2.3s;
    -o-animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;
    -webkit-animation-delay: 2.3s;
    opacity: 0;
}
.about_me input:hover{
    transition: all 0.2s;
    /*background-color: #344051;*/
    background: url(../img/иконка2.png) 8% 50% #344051 no-repeat;
    color: white;
    transform: scale(1.025);
}
.about_me input:active{
    transform: scale(1.07);
    transition: all 0.1s;
}
@keyframes appearance__X{
    from{
        opacity: 0;
        transform: scaleX(0);
    }
    to{
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes appearance__img2{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes smooth__appearance{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.my_skills h3{
    font-size: 28px;
    font-weight: bold;
    color: #263244;
    text-align: center;
    animation: smooth__appearance 1.3s ease forwards;
    -o-animation: smooth__appearance 1.3s ease forwards;
    -moz-animation: smooth__appearance 1.3s ease forwards;
    -webkit-animation: smooth__appearance 1.3s ease forwards;
    animation-delay: 3s;
    -o-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    opacity: 0;
}
.my_skills{
    width: 100%;
    height: 524px;
    padding-top: 107px;
    background: url(../img/картинка\ фона.jpg) 100% /cover no-repeat;
}
.img3{
    height: 28px;
    width: 100%;
    margin-top: 22px;
    background: url(../img/Черта\ заголовка.png) 50.1% /*175*/0px /78px 4px no-repeat;
    animation: appearance__X 1s ease forwards;
    -o-animation: appearance__X 1s ease forwards;
    -moz-animation: appearance__X 1s ease forwards;
    -webkit-animation: appearance__X 1s ease forwards;
    animation-delay: 3s;
    -o-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    opacity: 0;
}

.table1{
    
    margin: 70px 18% 0px;
    animation: appearance__X 1.2s cubic-bezier(.31,.74,.57,.87) forwards;
    -o-animation: appearance__X 1.2s cubic-bezier(.31,.74,.57,.87) forwards;
    -moz-animation: appearance__X 1.2s cubic-bezier(.31,.74,.57,.87) forwards;
    -webkit-animation: appearance__X 1.2s cubic-bezier(.31,.74,.57,.87) forwards;
    animation-delay: 3.3s;
    -o-animation-delay: 3.3s;
    -moz-animation-delay: 3.3s;
    -webkit-animation-delay: 3.3s;
    opacity: 0;
}
.table1 tr{
    text-align: center;
    font-size: 15px;
}
.table1 td:nth-child(1) { 
    padding-left: 35px;
    padding-right: 35px;    
}
.table1 td:nth-child(2) { 
    padding-left: 35px;
    padding-right: 35px;   
}
.table1 td:nth-child(3) { 
    padding-left: 35px;
    padding-right: 35px; 
}
.table1 td:nth-child(4) { 
    padding-left: 35px;
    padding-right: 35px;  
}
.table1 td {
    width: 11.1%; /* equal width columns */
    box-sizing: border-box;
}
.table1 th{
    font-weight: bold;
    color: #cf7600;
    font-size: 19px;
    padding: 46px 0px 12px;
}

.cases h3{
    font-size: 28px;
    font-weight: bold;
    color: #384354;
    text-align: center;
    /*animation: smooth__appearance 1.3s ease forwards;
    -o-animation: smooth__appearance 1.3s ease forwards;
    -moz-animation: smooth__appearance 1.3s ease forwards;
    -webkit-animation: smooth__appearance 1.3s ease forwards;
    animation-delay: 4.8s;
    -o-animation-delay: 4.8s;
    -moz-animation-delay: 4.8s;
    -webkit-animation-delay: 4.8s;
    opacity: 0;*/
}
.img4{
    height: 42px;
    width: 100%;
    margin-top: 27px;
    background: url(../img/Черта\ заголовка.png) 50.1% /*175*/0px /78px 4px no-repeat;
    animation: appearance__X 1s ease forwards;
    -o-animation: appearance__X 1s ease forwards;
    -moz-animation: appearance__X 1s ease forwards;
    -webkit-animation: appearance__X 1s ease forwards;
    animation-delay: 4.7s;
    -o-animation-delay: 4.7s;
    -moz-animation-delay: 4.7s;
    -webkit-animation-delay: 4.7s;
    opacity: 0;
}
/*.cases > p{
    animation: smooth__appearance 1.3s ease forwards;
    -o-animation: smooth__appearance 1.3s ease forwards;
    -moz-animation: smooth__appearance 1.3s ease forwards;
    -webkit-animation: smooth__appearance 1.3s ease forwards;
    animation-delay: 5.3s;
    -o-animation-delay: 5.3s;
    -moz-animation-delay: 5.3s;
    -webkit-animation-delay: 5.3s;
    opacity: 0;
}*/
.img5{
    height: 600px;
    width: 100%;
    margin-top: 41px;
    background: url(../img/фотка2.png) 50% 0px/60% auto no-repeat;
    animation: leftslide 1.3s ease forwards;
    -o-animation: leftslide 1.3s ease forwards;
    -moz-animation: leftslide 1.3s ease forwards;
    -webkit-animation: leftslide 1.3s ease forwards;
    animation-delay: 4.9s;
    -o-animation-delay: 4.9s;
    -moz-animation-delay: 4.9s;
    -webkit-animation-delay: 4.9s;
    opacity: 0;
}
.cases{
    margin-top: 108px;
    width: 100%;
    height: 91%;
    
    text-align: center;
    font-size: 16px;
}
.cases table{
    text-align: left;
    color: #3f495a;
    animation: leftslide2 1.3s ease forwards;
    -o-animation: leftslide2 1.3s ease forwards;
    -moz-animation: leftslide2 1.3s ease forwards;
    -webkit-animation: leftslide2 1.3s ease forwards;
    animation-delay: 4.9s;
    -o-animation-delay: 4.9s;
    -moz-animation-delay: 4.9s;
    -webkit-animation-delay: 4.9s;
    opacity: 0;
}
.cases th{
    font-size: 22px;
    font-weight: bold;
    color: #384354;
}
.cases td a:visited{
    color: #3f495a;
}
.cases td:nth-child(1){
    padding: 11px 70px 13px 3px;
}
.cases td:nth-child(2){
    font-size: 18px;
}
/*.cases td:nth-child(1),
.cases th:nth-child(1){
    padding-bottom: 12px;
}*/
.cases tr:nth-child(1){
    vertical-align: bottom;
}
.cases td:nth-child(2){
    vertical-align: top;
}
.cases table p{
    line-height: 24px;
}
.cases input{
    color: white;
    background-color: #63b5ae;
    font-size: 17px;
    margin-top: 8px;
    padding: 13px 50px;
    border-radius: 6px;
    transform: scale(1);
    
}
.cases input:hover{
    color: #e7890d;
    background-color: #646867;
    transform: scale(1.015);
    transition: all 0.2s;
}
.cases input:active{
    transform: scale(1.07);
    transition: all 0.1s;
}
@keyframes leftslide{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes leftslide2{
    from{
        opacity: 0;
        margin: 22px 76% 0 -500px;
    }
    to{
        opacity: 1;
        margin: 22px 20% 0px;
    }
}

.prices{
    margin-top: 195px;
    background: url(../img/линия\ подитога.jpg) 47.8% 536px no-repeat;
}
.prices h3{
    font-size: 39px;
    color: #1c2534;
    font-weight: bold;
    text-align: center;
}
.type_of_site p,
.type_of_design_site p,
.adaptability p{
    margin: 52px 0 21px 0;
    padding-left: 26.2%;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}
.type_of_site select,
.type_of_design_site select,
.adaptability select{
    margin-left: 26%;
    padding-left: 20px;
    color: #737373;
    font-size: 15px;
    height: 57px;
    width: 45.5%;
    
    border: 1px solid #eeeeee;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url(../img/Слой\ 7\ копия\ 2.png) 97% center no-repeat;
    
    background-color: #eeeeee;
}
.sum_price{
    margin: 48px 0 7.4% 26.2%;
    font-size: 18px;
    font-weight: bold;
}
.sum_price table{
    width: 61.3%;

}
.sum_price td:nth-child(1){
    text-align: left;
    padding-bottom: 10px;
}
.sum_price td:nth-child(2){
    text-align: right;
    padding-bottom: 10px;
    font-size: 28px;
}

.stats{
    padding-top: 105px;
    height: 505px;
    /*height: 100vh;*/
    letter-spacing: -2px;
    box-sizing: border-box;
    /*min-height: 100vh;
    transform-style: inherit;
    width: 100vw;*/
    background:  url(../img/фон2.jpg) /*url(../img/freelancer-man1.jpg)*/ center/cover fixed no-repeat;
}
.stats h3{
    font-size: 28px;
    font-weight: bold;
    color: #323e4f;
    text-align: center;
}
.img6{
    height: 42px;
    width: 100%;
    margin-top: 24px;
    background: url(../img/Черта\ заголовка.png) 50.1% /*175*/0px /78px 4px no-repeat;
    animation: appearance__X 1s ease forwards;
    -o-animation: appearance__X 1s ease forwards;
    -moz-animation: appearance__X 1s ease forwards;
    -webkit-animation: appearance__X 1s ease forwards;
    animation-delay: 8s;
    -o-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -webkit-animation-delay: 8s;
    opacity: 0;
}
.stats table{
    margin: 45px 0 0 18% ;
    width: 63%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #323e4f;
}
.stats td:nth-child(1),
.stats td:nth-child(2),
.stats td:nth-child(3),
.stats td:nth-child(4){
    padding-bottom: 2%;

}
.stats th{
    font-size: 37px;
    padding-bottom: 2%;
}

.review{
    padding-top: 107px;
    height: 600px;
    background: url(../img/Оранж.png) 48.8% 500px no-repeat, url(../img/Оранж\ копия.png) 50% 500px no-repeat, url(../img/Оранж\ копия\ 2.png) 51.2% 500px no-repeat;
}
.review h3{
    font-size: 28px;
    font-weight: bold;
    color: #243042;
    text-align: center;
}
.img7{
    height: 49px;
    width: 100%;
    margin-top: 32px;
    background: url(../img/Черта\ заголовка.png) 50.1% /*175*/0px /78px 4px no-repeat;
    animation: appearance__X 1s ease forwards;
    -o-animation: appearance__X 1s ease forwards;
    -moz-animation: appearance__X 1s ease forwards;
    -webkit-animation: appearance__X 1s ease forwards;
    animation-delay: 8.5s;
    -o-animation-delay: 8.5s;
    -moz-animation-delay: 8.5s;
    -webkit-animation-delay: 8.5s;
    opacity: 0;
}
.img8{
    height: 126px;
    width: 100%;
    background: url(../img/фотка3.png) 50% 0px no-repeat;
    animation: appearance__X 1s ease forwards;
    -o-animation: appearance__X 1s ease forwards;
    -moz-animation: appearance__X 1s ease forwards;
    -webkit-animation: appearance__X 1s ease forwards;
    animation-delay: 8.5s;
    -o-animation-delay: 8.5s;
    -moz-animation-delay: 8.5s;
    -webkit-animation-delay: 8.5s;
    opacity: 0;
}
.review p{
    margin: 9px 33% 39px;
    text-align: center;
    font-size: 17px;
    color: #243042;
}
.review > p{
    margin-left: 31%;
}

.my_contacts{
    padding-top: 107px;
    height: 825px;
    background: url(../img/Фон3.jpg) 100%/cover no-repeat;
    color: white;
}
.my_contacts h3{
    font-size: 28px;
    font-weight: bold;
    /*text-align: center;*/
    padding-left: 44%;
}
.img9{
    height: 40px;
    width: 100%;
    margin-top: 28px;
    background: url(../img/Черта\ заголовка.png) 49.8% /*175*/0px /78px 4px no-repeat;
    animation: appearance__X 1s ease forwards;
    -o-animation: appearance__X 1s ease forwards;
    -moz-animation: appearance__X 1s ease forwards;
    -webkit-animation: appearance__X 1s ease forwards;
    animation-delay: 9.3s;
    -o-animation-delay: 9.3s;
    -moz-animation-delay: 9.3s;
    -webkit-animation-delay: 9.3s;
    opacity: 0;
}
.my_contacts p{
    font-size: 17px;
    text-align: center;
    padding-bottom: 42px;
}
.my_contacts table{
    padding: 0 31.5%;
    text-align: center;
    width: 99%;
}
.my_contacts td:nth-child(1),
.my_contacts td:nth-child(2),
.my_contacts td:nth-child(3){
    vertical-align: top;
    padding-bottom: 11px;
    line-height: 22px;
}
.send_sms h5{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 16px 0 48px;
}
.data{
    padding-left: 31%;
}
form > input{
    width: 26.5%;
    height: 34px;
    margin-right: 2%;
    padding: 0 12px;
    margin-bottom: 12px;
    color: #5d5d5e;
    background-color: #d2d6dc;
    font-size: 15px;
}
form textarea{
    width: 55.3%;
    height: 94px;
    padding: 10px 12px;
    color: #5d5d5e;
    background-color: #d2d6dc;
    font-size: 15px;
    resize: none;
    margin-bottom: 28px;
}
.send input{
    width: auto;
    height: 49px;
    margin-left: 22.3%;
    padding-left: 0.2%;
    padding: 12px 18px;
    text-align: center;
    font-size: 18px;
    color: white;
    background: transparent;
    border: white solid 2.8px;
    border-radius: 6px;
}
.send input:hover{
    color: #2b2a2a;
    background-color: #c7caca;
    border-color: #c7caca;
    transform: scale(1.025);
    transition: all 0.2s;
}
.send input:active{
    transform: scale(1.07);
    transition: all 0.1s;
}
.media table{
    margin-left: -21.7%;
    width: 98.8%;
    margin-top: 72px;
}
.media td:nth-child(3){
    vertical-align: bottom;
    text-align: right;
}
.media td:nth-child(2){
    vertical-align:middle;
    text-align: right;
}
.media td:nth-child(6){
    text-align: left;
    vertical-align: bottom;
}
.media td:nth-child(1),
.media td:nth-child(2),
.media td:nth-child(3),
.media td:nth-child(4),
.media td:nth-child(5),
.media td:nth-child(6){
    padding: 0 25px;
}

.map{
    margin-bottom: -7px;
    height: 365px;
    background: url(../img/Карта\ копия.png) 100%/cover no-repeat;
}
.map input{
    margin: 148px 45.1% 0;
    width: 7%;
    height: 49px;
    padding: 13px 22px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: white solid 2px;
    box-shadow:0 9px 7px rgba(85, 84, 84, 0.318);
    
    background-color: white;
}

.copyrighting{
    height: 92px;
    color: white;
    background-color: #354051;
}
.copyrighting p{
    letter-spacing: -1px;
    padding: 42px 0 0 43.2%;
    font-size: 15.5px;
}


